.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
  overflow: visible;
}

.modal__overlay_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  width: 100%;
  max-width: 430px;
  background: #fff;
  border-radius: 16px;
  padding: 34px 36px 28px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 16px;
  z-index: 1000;
}

.modal__close-btn {
  position: absolute;
  top: -45px;
  right: -55px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../../assets/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 101;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.modal__label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #2f71e5;
  margin-bottom: 6px;
  text-align: left;
}

.modal__input {
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 1px solid #d1d2d6;
  outline: none;
  font-size: 14px;
  margin-bottom: 18px;
  text-align: left;
}

.modal__input:focus {
  border-bottom-color: black;
}

.modal__error-message_visible {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.modal__submit-btn {
  width: 100%;
  height: 64px;
  font-size: 18px;
  background: #2f71e5;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__submit-btn:hover:not(:disabled) {
  background: #347eff;
}

.modal__submit-btn:disabled {
  background: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.modal__link-option {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 16px;
  color: black;
}

.modal__link-text {
  color: #2f71e5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal__close-btn {
    top: -24px;
    right: -24px;
  }

  .modal__container {
    width: 430px;
    width: 100%;
    height: 380px;
    padding: 34px 36px 28px 36px;
  }

  .modal__form {
    margin-bottom: 0;
  }

  .modal__input {
    width: 100%;
    height: 47px;
  }

  .modal__label {
    height: 47px;
    margin-bottom: 0;
  }

  .modal__label:nth-child(2) {
    margin-top: 31px;
  }

  .modal__link-option .modal__link-text {
    font-size: 14px;
    margin-top: 16px;
  }

  .modal__submit-btn {
    height: 64px;
    font-size: 18px;
  }

  .modal__title {
    font-size: 24px;
    margin-bottom: 22px;
    padding: 0;
  }

  .modal__error-message_visible {
    margin: -25px 0 36px;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    max-width: 100%;
    min-height: 100vh;
    padding: 56px 20px 16px;
    position: fixed;
    top: 57px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  .modal__close-btn {
    position: absolute;
    top: -32px;
    left: auto;
    right: 8px;
    height: 24px;
    width: 24px;
    z-index: 1100;
  }

  .modal__input {
    height: 47px;
    font-size: 14px;
  }

  .modal__label {
    font-size: 12px;
    gap: 30px;
  }

  .modal__label:nth-child(2) {
    margin-top: 30px;
  }

  .modal-open .header__mobile-overlay {
    display: none !important;
  }

  .modal-open .header__menu-icon {
    display: none !important;
  }

  .modal__submit-btn {
    height: 48px;
    font-size: 18px;
  }

  .modal__title {
    font-size: 18px;
  }
}
