body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
